*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #000;
    width: 100%;
    margin-bottom: 40px;
    display: table;
}

.navbar .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .navbar-menu .navbar-item {
    float: left;
}
.navbar .navbar-menu .navbar-item .navbar-link {
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    transition: background .4s ease-in-out;
}

.navbar .navbar-menu .navbar-item .navbar-link:hover {
    background: #fff;
    color: #000;
}


.content {
    width: 80%;
    margin: 0 auto;
    display: table;
}

.posts {
    width: 70%;
    float: left;
}

.posts .post {
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.posts .post .post-image,
.posts .post .post-title,
.posts .post .post-text {
    margin-bottom: 20px;
}

.posts .post .post-image {
    max-width: 100%;
}
.posts .post .post-title {
    font-family: "Roboto";
}

.posts .post .post-text {
    font-size: 16px;
    line-height: 25px;
}

.posts .post .post-link {
    text-decoration: none;
    text-align: right;
    color: #036;
    transition: color .4s ease-in-out;
}
.posts .post .post-link:hover {
    color: #000;
}









.sidebar {
    width: 28%;
    float: right;
}


footer {
    margin-top: 40px;
    padding: 30px 0;
    text-align: center;
    background: #000;
    color: #fff;
}
